@tailwind base;
@tailwind components;
@tailwind utilities;

.center-text {
    text-align: center;
  }

body {
    background-image: '/images/bamboo.svg';
    background-size: 50px 50px;  /* Adjust size of the pattern */
    background-repeat: repeat;
    background-position: center;
  }

:root{
  --tea-green: #ccd5aeff;
  --beige: #e9edc9ff;
  --cornsilk: #fefae0ff;
  --papaya-whip: #faedcdff;
  --buff: #d4a373ff;
  --chorated: #F1F1F1;
}